@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
    color: #000;
    font-family: 'PT Sans', sans-serif;
}

.swiper-pagination-bullet {
    background-color: rgb(200, 200, 200);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: black;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
}